footer {
  border-top: 1px solid rgba(13, 13, 13, 0.2);
}
footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
footer .container span i {
  padding: 5px;
}
footer .container span i:hover {
  cursor: pointer;
  color: var(--primary);
}
.subscribe {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(205, 219, 223, 0.3);
}

@media screen and (max-width: 750px) {
  .subscribe {
    display: none;
  }
}
