.productInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.productInfo h4,
h3,
h5 {
  font-weight: bolder;
}
.productMultimedia {
  border: 1px solid rgba(13, 13, 13, 0.1);
  padding: 1rem;
}
.q-functions i:hover {
  cursor: pointer;
}
